<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
    <h1 th:text="${titulo}"></h1>
    <a th:href="@{/listar}"> Listar </a>

<div>
    <form th:action="@{/form}" method="post" th:object="${producto}">

        <input th:if="${producto.id != null}" type="hidden" th:field="*{id}" />

        <div>
            <label>Nombre</label>
            <div><input type="text" th:field="*{nombre}"/></div>
        </div>

        <div>
            <label>Precio</label>
            <div><input type="number" th:field="*{precio}"/></div>
        </div>

        <div>
            <label>fecha</label>
            <div> <input type="date" th:field="*{createAt}" > </div>
        </div>

        <div>
            <div> <input type="submit" value="Crear" ></div>
        </div>
    </form>
</div>

</html>